*{
    margin: 0;
    padding: 0;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}
/* header{
    background-color: #FFFFFF;
} */
.navigation{
    background-color: #FFFFFF;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
    flex-wrap: wrap;
}
.navigation ul{
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
    /* align-items: center; */
    /* text-align: ; */
    color: #000000;
}
.navigation button{
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

.hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    gap: 20px;                 
    padding-top: 20px;
}

main div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.btn-early{
    padding: 8px 12px;
    border-radius: 1000px;
    background: rgba(255, 255, 255, 1);
    font-size: 16px;
font-weight: 500;
border: none;
color: #276941;
}
.hero h1{
    margin-top: 16px;
    font-size: 72px;
font-weight: 700;
color: rgba(255, 255, 255, 1);
}
.hero h1 div{
    /* font-size: 72px;
font-weight: 700; */
color: rgba(48, 184, 104, 1);
}
.hero div p{
    font-size: 18px;
font-weight: 400;
color: #FFFFFF;
max-width: 700px;
margin-top: 16px;
}
.grp-btn{
    margin-top: 32px;
}
.grp-btn .btn-1{
    padding: 12px 16px;
    border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 16px;
font-weight: 600;
    background-color: #469165;
    border: none;
color: #FFFFFF;
}
.btn-2{
    padding: 12px 16px;
    border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: transparent;
}
.notes h1{
    font-size: 48px;
font-weight: 700;
color: #001931;
text-align: center;
margin-top: 60px;
}
.notes h5{
   font-size: 16px;
font-weight: 400;
color: #627382;
text-align: center;
margin-top: 16px;
}
.card-parent{
    display: flex;
    justify-content: center;
    /* align-items: stretch; */
    gap: 30px;
    padding: 60px 40px;
    text-align: center;
    margin: 44px 120px 0 120px;
    /* flex-direction: column; */
        /* margin: 44px 20px 0 20px; */
}
.card{
    text-align: center;
    padding: 24px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(137, 135, 135, 0.305);
}
.card h3{
    color: #001931;
    font-size: 24px;
font-weight: 600;
}
.card h4{
    font-size: 16px;
font-weight: 400;
color: #627382;
margin: 16px 0;
}
.card img{
    width: 32px;
    height: 32px;
    padding: 1.5px 2.5px;
}
.card .img-box{
    width: 60px;
    height: 60px;
    background: rgba(249, 85, 85, 1);
    border-radius: 50%;
    /* padding: 1.5px 2.5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 69.5px auto 20px;
}
.Second-Brain-Section-parent{
    padding: 120px;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.brain-image{

}
.solution h5{
    font-size: 16px;
font-weight: 500;
text-transform: uppercase;
color: rgba(70, 145, 101, 1);
margin-top: 120px;
}
.solution h2{
    font-size: 48px;
font-weight: 700;
color: rgba(0, 25, 49, 1);
margin-top: 16px;
}
.solution p{
    font-size: 16px;
font-weight: 400;
color: rgba(98, 115, 130, 1);
margin-top: 16px;
}

.point ul{
    list-style: none;
    margin-top: 40px;
    font-size: 16px;
font-weight: 500;
color: rgba(0, 25, 49, 1);
}
.point li{
    margin-bottom: 16px;

}
.point i{
    color: rgba(48, 184, 104, 1)j;
}
.early-access-section{
    padding: 80px  40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    border-radius: 12px;
background-color: rgba(247, 246, 242, 1);
    margin: 0 auto;
      display: flex;
    flex-direction: column;
}
.early-access-section h1{
    color: rgba(0, 25, 49, 1);
    font-size: 40px;
font-weight: 700;
margin-bottom: 16px;

}
.early-access-section .subtitle{
    font-size: 16px;
font-weight: 400;
color: rgba(98, 115, 130, 1);
line-height: 24px;
/* margin-top: 16px; */
max-width: 600px;
}
.early-access-section button{
    padding: 12px 16px;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    background-color: rgba(70, 145, 101, 1);
    border: none;
    font-size: 16px;
font-weight: 600;
color: rgba(255, 255, 255, 1);
margin-top: 24px;
display: inline-flex;
    align-items: center;
    gap: 8px;
}
.early-access-section .access{
    font-size: 16px;
font-weight: 400;
color: rgba(98, 115, 130, 1);
margin-top: 16px;
}
#footer-part{
    padding: 120px 120px 30px 120px;
    background-color: rgba(0, 25, 49, 1);
    display: flex;
    justify-content: space-between;
}
#footer-part h4{
    font-size: 20px;
font-weight: 500;
line-height: 28px;
color: rgba(255, 255, 255, 1);
}
#footer-part ul{
    list-style: none;
    display: flex;
    gap: 16px;
}
